/* explorer page style */

.exploreOrder {
    @include contentform;
    background-color: rgba(0, 150, 80, 0.268);
   
}

.textExplore {
    position: absolute;
    top: 45%;
    left: 35%;
    color: whitesmoke;
    font-size: 1rem;
    text-shadow: 4px 4px 6px rgb(2, 2, 68);
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.explorecontent {
    position: relative;
    background-color: rgb(39, 37, 37);
    padding: 0px;
    margin: 20px;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.textExplore:hover {
    transform: scale(1.1);
    text-shadow: 4px 4px 7px rgb(228, 228, 246);
    color: rgb(15, 13, 13);
}

.esaPlay {
    border-radius: 8px;
}

.playEsa2 {
    display: flex;
    align-items: center;
    justify-content: center;
}