/* guide page style */

h2 {
    color: $theme-text-color;
    @include textform;
    margin: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

.guideI {
    object-fit: cover;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.766);
}

.guideA {
    object-fit: cover;
    cursor: pointer;
    width: 400px;
    height: 300px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.766);
}

.guideOrder {
    :hover {
        transform: scale(1.1);
    }

    @include contentform;
    grid-template-columns: repeat(auto-fit, minmax(400px));
    place-items: center;
    transition: 0.5s;
    cursor: pointer;
}

h3 {
    color: $theme-text-color;
    @include textform;
    margin: 60px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}