/* wonder page style */

.playEsa {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.videoEsa {
    border-radius: 10px;
    padding: 20px;
}

.playEsa p {
    color: rgba(1, 51, 20, 0.832);
    font-family: 'Varela Round', sans-serif;
    padding: 20PX;
    box-shadow: 4PX 4PX 6PX;
    border-radius: 7px;
    font-size: 1.2rem;
}

.mapEsa {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}

.googlemapEsa {
    border-radius: 10px;
    margin: 20px;
    box-shadow: 4px 4px 6px black;
}

.mapEsa p {
    color: rgba(1, 51, 20, 0.832);
    font-family: 'Varela Round', sans-serif;
    padding: 20PX;
    box-shadow: 4PX 4PX 6PX;
    border-radius: 7px;
    font-size: 1.2rem;
}